<!DOCTYPE html>
<html lang="en">
    <%- include('./blocks/head.ejs') -%>
<body>
    <%- include('./blocks/header.ejs') -%>
    <main>
        <div class="container">
            <h2>О проекте</h2>
            <section class="about">
                <p>
                    AppCode - это платформа для обучения программированию и решения задач. Наш проект направлен
                    на то, чтобы предоставить программистам всех уровней удобный инструмент для самосовершенствования и обмена знаниями.
                </p>
            </section>
            
            <section class="team">
                <h3>Действующие лица</h3>
                <div class="team-member">
                    <h4>Александр</h4>
                    <p>Роль: Разработчик</p>
                    <p>Описание: единственный</p>
                </div>
                <!-- Добавить кого-нибудь -->
                <!-- <div class="team-member">
                    <h4>Прозвище</h4>
                    <p>Роль: Дизайнер</p>
                    <p>Описание: второй.</p>
                </div>  -->
            </section>
            
            <section class="contact">
                <h3>Контакты</h3>
                <p>Email: <a href="mailto:info@codequest.com">info@AppCode.com</a></p>
                <p>Телефон: +1 234 567 890</p>
            </section>
        </div>
    </main>
    <%- include('./blocks/footer.ejs') -%>
    <!-- <script src="scriptAbout.js"></script> -->
</body>
</html>