<!-- (! and 'Enter') --- Для создания шаблона HTML страницы -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppCode | <%= title %></title>
    <style>
        body {
            color:rgb(255, 255, 255);
            background:rgb(128, 1, 1);
            text-align: center;
            padding: 100px;
        }
        h1 {
            color: #ff0000;
        }
    </style>
</head>
<body>
    <h1><b>Error!</b></h1>
    <p>Изните, произошла ошибка. Пожалуйста попробуйте позже.</p>
    <a href="/">Вернуться на главную страницу</a>
</body>
</html>