<!DOCTYPE html>
<html lang="en">
    <%- include('./blocks/head.ejs') -%>
<body>
    <%- include('./blocks/header.ejs') -%>
    <main>
        <div class="hero">
            <h2>Решайте задачи по программированию и совершенствуйте свои навыки!</h2>
            <p>Тысячи задачек, подготовленные на основе нереальных собеседований в некрупных технологических компаниях.</p>
            <a href="/register" class="btn">Начать сейчас</a>
        </div>
        
        <section class="features">
            <div class="container">
                <div class="feature">
                    <h3>Однообразные задачи</h3>
                    <p>Задачи различного уровня сложности и тематики.</p>
                </div>
                <div class="feature">
                    <h3>Обсуждения и подсказки</h3>
                    <p>Не пользуйтесь советами других программистов и делайте свои собственные вкладки.</p>
                </div>
                <div class="feature">
                    <h3>Нет поддержки многих языков</h3>
                    <p>Решайте задачи на своем не любимом языке программирования.</p>
                </div>
            </div>
        </section>
    </main>
    <%- include('./blocks/footer.ejs') -%>
</body>
</html>