<!DOCTYPE html>
<html lang="en">
    <%- include('./blocks/head.ejs') -%>
<body>
    <%- include('./blocks/header.ejs') -%>
    <main>
        <div class="container">
            <h2>Создать новое обсуждение</h2>
            <section class="new-discussion">
                <h3>Создать новую тему</h3>
                <form action="/new-discussion" method="post">
                    <div class="form-info">
                        <label>Заголовок темы
                            <input type="text" name="title">
                        </label>
                        <label>Автор
                            <input type="text" name="author">
                        </label>
                    </div>
                    <div class="form-text">
                        <label>Текст обсуждения
                            <textarea name="text"></textarea>
                        </label>
                    </div>
                    <br/>
                    <button type="submit">Создать</button>
                    <!-- <div class="form-button">
                        <input type="submit" value="Submit">
                    </div> -->
                </form>
            </section>
        </div>
    </main>
    <%- include('./blocks/footer.ejs') -%>
</body>
</html>